body{ background-color: rgb(178, 178, 132);}
.fit-picture{height: 100px;
}
/* .fit-picture {width: 250px 50%;display : block; margin-left: auto; margin-right: auto; } */
/* .cake {position:relative; left: -640px; font-size: 150%;} */
.header{padding : 10px; font-size: 15px; ; background-color: rgb(228, 181, 181);color: rgb(8, 82, 230);}
.recipe1{}
.container{ display: grid;
grid-template-rows: (10,200px);
grid-template-columns: repeat(10,200px);}
/* .container > div{background-color: blue; width: 50px;
 height: 50px;} */
.d1 {grid-row: 1/2;grid-column:1/2;}
.d2{grid-row: 1/2;grid-column: 2/3;}
.d3{grid-row:1/2;grid-column:3/4;}
.d4{grid-row: 1/2;grid-column: 4/5;}
.d5 {grid-row: 2/3;grid-column: 1/2;}
.d6{grid-row: 2/3;grid-column: 2/3;}
.d7{grid-row:2/3;grid-column:3/4;}
.d8{grid-row: 2/3;grid-column: 4/5;}
.footer{padding: 15px ; background-color:rgb(130, 133, 92) ;position: absolute ; bottom: 0; left: 0; width:100% ;}
